<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/customers}" th:object="${customer}">
    <label for="tabnum">Enter tabnum: </label>
    <input type="number" th:field="*{tabnum}" id="tabnum"/>
    <div style="color: red" th:if="${#fields.hasErrors('tabnum')}" th:errors="*{tabnum}">Tabnum error</div>
    <br>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="birth">Enter birth: </label>
    <input type="date" th:field="*{birth}" id="birth"/>
    <div style="color: red" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Birth error</div>
    <br/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>